@font-face {
    font-family: 'Helvetica Neue LT';
    src: url(./fonts/HelveticaNeueLTStd-Lt.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'Helvetica Neue LT';
    src: url(./fonts/HelveticaNeueLTStd-Md.otf);
    font-weight: 600;
}

* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: 'Open Sans', Arial, sans-serif;
    
}

body {
    width: 100vw;
    display: grid;
    overflow-x: hidden;
    grid-template-areas: "nav content";
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content;
}

.content {
    grid-area: content;
    overflow-x: hidden;
    min-height: 100%;
}

header .grid {
    display: grid;
    grid-template-areas:    "logo subtitle"
                            "logo title";
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}

header #logo-official {
    grid-area: logo;
    width: 100px;
    height: auto;
    margin-left: -16px;
}

header #title {
    grid-area: title;
    align-self: start;
}

header #subtitle {
    grid-area: subtitle;
    align-self: end;
}

main {
    min-height: 100vh;
    /* box-shadow: 2px 2px 5px rgba(0,0,0,0.2) inset; */
}

footer {
    background-color: #3a3a3a;
    padding: 1rem;
}

h1 {
    font-family: 'Helvetica Neue LT', Arial, sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'Helvetica Neue LT', Arial, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

a, a:visited {
    color: #d61f28;
    text-decoration: none;
}

a:hover, a:active {
    color: #aaa;
}

p.copyright {
    color: white;
    text-align: center;
}